body,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 30px;
  margin: 40px;
}

p {
  margin: 10px;
}

header {
  background-color: #BFDBF7;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: Montserrate, arial, sans serif;
}

.logo a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 20px;
  margin-right: 10px;
  margin-left: 20px;
}

.logo span {
  font-size: 10px;
  font-weight: bold;
}

a {
  color: #49A078;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.logo img {
  max-width: 100px;
  padding: 10px;
}


main {
  margin-top: auto;
  margin-bottom: auto;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: auto;
  background-color: #fff;
  width: 700px;
  height: 700px;
  margin: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.block img {
  display: flex;
  flex-direction: row;
  width: 29vw;
  flex-wrap: wrap;
  align-items: left;
  justify-content: flex-start;
  max-width: 40px;
  display: block;
  margin: 10px;
  text-align: left;
}

.arrow {
  display: flex;
  width: 29vw;
  align-items: left;
  justify-content: left;
  color: #000000;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}
#msgError{
  text-align: center;
  color: #bb0000;
  background-color: #ffbbbb;
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
  display: none;
}
#msgSucess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
  display: none;
}
#msgDiferente{
  text-align: center;
  color: #bb0000;
  background-color: #ffbbbb;
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
  display: none;
}
.form {
  display: flex;
  flex-direction: column;
  width: 29vw;
  flex-wrap: wrap;
  align-items: auto;
  justify-content: auto;
  margin-left: 225px;
  padding: 10px 0px;
}
input{
  border: 1px solid #000000;
  border-radius: 2px;
  border-color: #000000;
}
input:focus{
  border: 1px solid #000000;
  border-radius: 2px;
  border-color: #000000;
  outline: none;
}
#NomeCompleto {
  display: block;
  flex-direction: column;
  width: 29vw;
  flex-wrap: wrap;
  align-items: right;
  justify-content: right;
  height: 40px;
  width: 250px;
}

#FormEmail2 {
  display: flex;
  flex-direction: column;
  width: 29vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
}

#Telefone {
  display: flex;
  flex-direction: column;
  width: 29vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
}

#FormPassword2 {
  display: flex;
  flex-direction: column;
  width: 29vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
}
#confirmSenha{
  display: flex;
  flex-direction: column;
  width: 29vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
}


.button2 {
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 29vw;
  flex-wrap: wrap;
  height: 40px;
  width: 250px;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;*/
  display: flex;
  flex-direction: column;
  width: 29vw;
  flex-wrap: wrap;
  height: 40px;
  width: 250px;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0px;
}

.button2:hover {
  cursor: pointer;
}

#abrir-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 29vw;
  flex-wrap: wrap;
  height: 40px;
  width: 250px;
  margin-left: 227px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0px;
}

#abrir-modal:hover{
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .form, .block {
    display: flex;
    flex-direction: row;
  }
  .button, .button1, .button2, .button3 {
    width: 31vw;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}
}
@media screen and (max-width: 700px) {
  .block1, .block2 {
    display: flex;
    flex-direction: column;
  }
  .button, .button1, .button2, .button3 {
    flex-wrap: wrap;
    width: 10vw;
    align-content: center;
  }
}

footer {
  background-color: #BFDBF7;
  color: #fff;
  text-align: center;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}

/*@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .form {
    width: 31vw;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .button2 {
    width: 31vw;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  footer {
    background-color: #BFDBF7;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-content: center;
  }

  .button2 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-content: center;
  }
}

footer {
  background-color: #BFDBF7;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}