/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color:  #BFDBF7;
  padding: 10px 0;
  /* background-color: #3498db;
  padding: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box; */
}
.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  
}
.logo a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 40px;
  margin-right: 10px;
  margin-left: 20px;

  max-width: 100px;
  padding: 10px;
}

.logo span {
  font-size: 10px;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-bottom: 100px;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 20px;*/
}
.infoUsuario{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 50%;
  height: 180px;
  text-align: center;
  border-radius: 5px;
}
.infoUsuario button{
  margin: 2px ;
  background-color: #888;
  color: #fff;
}
dialog{
  
  height: 30%;

}
@media screen and (min-width: 1200px) {
  main {
    padding: 20px; /* Ajuste o valor conforme necessário para telas grandes */
  }
}
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}
footer {
  background-color: #BFDBF7;
  color: #fff;
  text-align: center;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.left {

  }
  
  .copy {

  }
label {
  display: block;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;

}
.titutloCadastre{
  text-align: center
}
input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  }
}

/*#confirmationModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}*/

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-image {
  max-width: 200px; /* Defina o tamanho desejado para a imagem */
}
