body,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0px 10px 0px;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin: 15px 30px 5px 30px;
}

p1 {
  text-align: center;
  color:#f0f0f0;
}

header {
  background-color: #BFDBF7;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-family: cursive;
}

.logo a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
  margin-left: 20px;
  max-width: 100px;
  padding: 10px;
}

.logo span {
  font-size: 10px;
  font-weight: bold;
}

a {
  color: #f0f0f0;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .main {
    text-align: center;
    margin-top: 150px;
  }
   
  /*CONTEUDO PRINCIPAL*/
  
  .blocks {
    width: 100vw;
  display: flex;
  flex-wrap: wrap;
    
  }
  
  .block1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: flex-start;
    background-color: #fff;
    margin: 10px;
    width: 350px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .block1 div{
    padding: 0px;
    margin-bottom: 15px;
    align-items: down;
  }
  
  .block1 button{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 50px;
    align-items: baseline;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 2px;
  }
  
  .block1 button:hover{
    cursor: pointer;
  }
  
  .block1 img{
    width: 20px;
    margin-right: 10px;
  }
  
  .block2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: opache;
    padding: 0px 0px;
    margin-top: 100px;
    margin-left: 1100px;
    width: 500px;
    height: 900px;

  }
  
  .block2 div{
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .block2 button1{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 50px;
    align-items: right;
    text-decoration: none;
    padding: 5px 5px;
    border: 1px solid #000;
    background-color: opache;
    border-radius: 2px;
  }
  
  .block2 button1:hover{
    cursor: pointer;
  }
  
  .block2 button2{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 150px;
    align-items: center;
    text-decoration: none;
    padding: 5px 5px;
    border: 1px solid #000;
    background-color: opache;
    border-radius: 2px;
  }
  
  .block2 button2:hover{
    cursor: pointer;
  }
  
  .block2 img{
    width: 35px;
    margin-left: 350px;
  }
  
  .block2 button3{
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    height: 40px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    color: #f0f0f0;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 5px;
  }
  
  .block2 button3:hover{
    cursor: pointer;
  }
  

  @media screen and (max-width: 1000px) {
    .block1 {
      display: flex;
      flex-direction: row;
    }
    .button {
      width: 31vw;
      display: flex;
      justify-content: flex-start;
      padding-top: 10px;
  }
  }
  @media screen and (max-width: 700px) {
    .block1, {
      display: flex;
      flex-direction: column;
    }
    .button {
      flex-wrap: wrap;
      width: 10vw;
      align-content: center;
    }
  }

  @media screen and (max-width: 1000px) {
    ..block2 {
      display: flex;
      flex-direction: row;
    }
    .button1, .button2, .button3 {
      width: 31vw;
      display: flex;
      justify-content: flex-start;
      padding-top: 10px;
  }
  }
  @media screen and (max-width: 700px) {
    .block2 {
      display: flex;
      flex-direction: column;
    }
    .button1, .button2, .button3 {
      flex-wrap: wrap;
      width: 10vw;
      align-content: center;
    }
  }

  footer {
    background-color: #BFDBF7;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }