/*PROPRIEDADES PADRÃO*/

body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}

header {
  background-color: #BFDBF7;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-family: cursive;
}

.logo a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
  margin-left: 20px;
  max-width: 100px;
  padding: 10px;
}

.logo span {
  font-size: 10px;
  font-weight: bold;
}

a {
  color: #49A078;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;

}

.main {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 15px;
  text-align: center;
}

/*CONTEUDO PRINCIPAL*/

.blocks {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0px 0px;
  margin: 10px;
  width: 250px;
  height: 100px;
}
.block1 div{
  padding: 10px;
  margin-bottom: 15px;
}
.block1 button{
  display: flex;
  width: 250px;
  height: 30px;
  align-items: center;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 2px;

}
.block1 button:hover{
  padding: 0px 0px;
  background-color: #f0f0f0;
}
.block1 img{
  width: 20px;
  margin-right: 20px;
}



.form {
  padding: 10px 200px;
}

#Titulodareceita {
  height: 25px;
  width: 250px;
  box-align: center;
}

#Itens {
  height: 25px;
  width: 250px;
  box-align: center;
}

footer {
  background-color: #BFDBF7;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  position: absolute;
  width: 100%;
  bottom: 0;
}